<footer class="bg-light text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        
        <a class="FooterLogo" href="/homepage"><img src="/Bilder/Logo250trans-2.png"></a>

   
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <p>
            <a href="/impressum" class="text-dark">Impressum</a>
          </p>
          </li>
          <li>
            <p></p>
            <a href="/kontakt" class="text-dark">Kontakt</a>
          </p>
          </li>
          <li>
            <p>
            <a href="/datenschutz" class="text-dark">Datenschutz</a>
          </p>
          </li>
          
        </ul>
      </div>

      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Social Media</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <p>
            <a href="https://www.youtube.com/channel/UC_KTyLK62OVVVXfV8ubUesA" class="text-dark">Youtube</a>
          </p>
          </li>
          <li>
            <p></p>
        
            <a href="https://www.instagram.com/junge.visionaere/" class="text-dark">Instagram</a>
          </p>
          </li>
  
          
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2021 Copyright:
      <a class="text-dark" href="https://mdbootstrap.com/">junge-visionaere.de</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->

</body>
</html>