<footer>
    <div class="container bg-dark"> 
        <div class="row text-light text-center py-4 justify-content-center">
        
            <nav id="footer">
                <ul>
                    <li><a href="">Kontaktiere uns</a></li>
                    <li><a href="">Impressum</a></li>
                    <li><a href="">Datenschutz</a></li>
                </ul>
            </nav>
        </div>
    </div>
  </footer>

</body>
</html>