<footer>
    <nav id="footer">
        <ul>
            <li><a href="">Kontaktiere uns</a></li>
            <li><a href="">Impressum</a></li>
            <li><a href="">Datenschutz</a></li>
        </ul>
    </nav>
  </footer>

</body>
</html>