<section id="jumbotron">

  <div class="jumbotron jumbotron-fluid" style="background-color: #a8a5cb;">
    <div class="container"></div>
    <h1>Junge Visionäre</h1>
    <p>Mit uns werden die Schüler Deutschlands zu den Gründern von morgen!</p>
  </div>

    <!-- <div class="jumbotron jumbotron-fluid" style="background-color: honeydew;">
      <div class="container">
        <h1 class="display-4">Fluid jumbotron</h1>
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
      </div>
    </div> -->
</section>