<section id="nav-bar">

<nav class="navbar fixed-top navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="/Bilder/Logo.png"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/schueler">Für Schüler</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/schulen">Für Schulen</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/ueber">Über uns</a>
          </li>
        </ul>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <a class="btn btn-outline-secondary me-md-2" type="button" href="/login">Anmelden</a>
          <a class="btn btn-primary" type="button" href="/register" style="background-color: #a8a5cb; border-color: gray;">Registrieren</a>
        </div>
      </div>
    </div>
  </nav>

</section>