<%- include("partials/head")%>

<%- include("partials/nav")%>

<div style="margin-top: 55px;"></div>

<main>


<section id="slides">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <ol class="carousel-indicators">
              <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></li>
              <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></li>
              <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/Bilder/startseite.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                </div>
              </div>
              <div class="carousel-item">
                <img src="/Bilder/startseite2.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                </div>
              </div>
              <div class="carousel-item">
                <img src="/Bilder/startseite3.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </a>
          </div>
</section>

<%- include("partials/jumbotron")%>


<section id="column1">

<div class="container my-5">
  <div class="row py-4">
              
      <div class="col-lg-5 mb-4 my-lg-auto">
        <h2 class="text-dark font-weight-bold mb-3">Das Projekt
        </h2>
        <p class="mb-4">Wir bieten deutschlandweit das erste Programm an, dass Schüler mit dem Thema Startup und Entrepreneurship vertraut macht. Bei dem Programm handelt es sich um einen Online Kurs, bei dem wir Schülern aus Düsseldorf zeigen, wie man eigentlich ein Unternehmen gründet. Zusammen mit deinen Mitschülern simuliert ihr die Gründung eines echten Unternehmens und tretet als Team gegen andere Teams von Düsseldorfer Schulen gegeneinander an. Wer am Ende die beste Idee und die erfolgreichste Umsetzung hat gewinnt!<br><br>
          Schau Dir folgendes Video an und erfahre mehr! 
        </p>
      </div>
            
      <div class="col-lg-7" class="embed-responsive embed-responsive-21by9">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/KARpG8RBvDM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
            
  </div>
</div>

</section>

<section id="column2">

<div class="container my-5">
  <h2 class="text-dark font-weight-bold mb-3">Spannende Einblicke
  </h2>

<div class="container">
  <div class="row my-5">
    
    <div class="col-md-4 my-4">
      <img src="/Bilder/1.jpg" alt="" class="w-100">
      <h4 class="my-4">Gründung einfach gemacht</h4>
        <p>Durch wöchentlichen Content, Videos und Aufgaben möchten wir den Schülern alles an die Hand geben, was zum Thema Startup und Entrepreneurship wichtig ist. Warum sich nicht schon in der Schule mit der Selbstständigkeit auseinandersetzen? </p>
    </div>

    <div class="col-md-4 my-4">
      <img src="/Bilder/2.jpg" alt="" class="w-100">
      <h4 class="my-4">Unternehmensspiel</h4>
        <p>Schüler treten in Teams gegen Schüler anderer Schulen an. Am Ende des Projekts hat jedes Team die Möglichkeit, die erarbeitete Idee zu pitchen. Durch eine öffentliche Abstimmung entscheiden wir, welches Team und welche Idee gewinnt!</p>
    </div>

    <div class="col-md-4 my-4">
      <img src="/Bilder/3.jpg" alt="" class="w-100">
      <h4 class="my-4">Theorie & Praxis</h4>
        <p>Wir zeigen den Weg von der Idee bis zur Gründung auf. Was unser Programm so besonders macht, ist die Verbindung von Theorie und Praxis. So können wir sicherstellen, dass die Schüler alles Wichtige haben, was sie zur erfolgreichen Teilnahme benötigen.</p>
    </div>

    </div>
  </div>      
</div>


</section>

<section id="column3">

<div class="container my-5">
  <h2 class="text-dark font-weight-bold mb-3">Unsere Partner
  </h2>

  <div class="container">
    <div class="row my-5">
      
      <div class="col-md-4 my-4">
        <img src="/Bilder/Logo.jpg" alt="" class="w-75">
      </div>
  
      <div class="col-md-4 my-4">
        <img src="/Bilder/Logo2.jpg" alt="" class="w-75">
      </div>
  
      <div class="col-md-4 my-4">
        <img src="/Bilder/Logo3.jpg" alt="" class="w-75">
      </div>
  
    </div>
  </div>      
</div>

</section>
         


    

</main>



<%- include("partials/footer")%>


