<%- include("partials/head")%>

<%- include("partials/nav")%>


<main>
<section id="banner">
    <div class="container">
    <div class="row">
    <div class="col-md-6">
    <p>JUNGE VISIONÄRE</p> 
    <p>Lasst uns gemeinsam die Welt bewegen</p>   
    </div>
    </div>
    </div>


</section>

    <!-- <div id="kopfbereich">
        <h1>Junge Visionäre</h1>
    </div>
</section>

<section>
    <div id="inhalt">
        <h1>Das Projekt</h1>
        <h2>Ich bin H2</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum quibusdam commodi qui dolorem dicta at consectetur veritatis provident quisquam vero voluptas totam molestias nulla ullam non, maiores labore minus corporis.
        Aspernatur, quis. Officia molestias natus, debitis expedita labore voluptatem optio. Pariatur delectus dignissimos autem adipisci veniam minima modi ducimus quod totam voluptatem aliquam alias odit doloribus aspernatur praesentium, repellendus consequuntur.
        Adipisci at perferendis eos hic aut unde itaque minus vitae esse? Distinctio et aspernatur perspiciatis, quidem error consequatur expedita. Repellendus consequuntur ut labore deleniti. Soluta aut rem ad repellat tempore!
        Dolorum molestias impedit, reiciendis molestiae eligendi dolores suscipit blanditiis ex ullam ea! Nihil, omnis enim laudantium explicabo unde minus sint perspiciatis voluptatum quis repellendus atque illum nostrum voluptates cumque provident.
        Iste molestias inventore dolores possimus adipisci eius quaerat tempora ratione, debitis facere dolor culpa voluptatem consequatur ipsa sit accusamus quam, in voluptas. Fuga dolorum delectus molestias nam perferendis aspernatur provident!
        </p>
    </div>
</section>

<section>
    <div id="inhalt">
        <h1>Spannende Einblicke</h1>
        <h2>Ich bin H2</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum quibusdam commodi qui dolorem dicta at consectetur veritatis provident quisquam vero voluptas totam molestias nulla ullam non, maiores labore minus corporis.
        Aspernatur, quis. Officia molestias natus, debitis expedita labore voluptatem optio. Pariatur delectus dignissimos autem adipisci veniam minima modi ducimus quod totam voluptatem aliquam alias odit doloribus aspernatur praesentium, repellendus consequuntur.
        Adipisci at perferendis eos hic aut unde itaque minus vitae esse? Distinctio et aspernatur perspiciatis, quidem error consequatur expedita. Repellendus consequuntur ut labore deleniti. Soluta aut rem ad repellat tempore!
        Dolorum molestias impedit, reiciendis molestiae eligendi dolores suscipit blanditiis ex ullam ea! Nihil, omnis enim laudantium explicabo unde minus sint perspiciatis voluptatum quis repellendus atque illum nostrum voluptates cumque provident.
        Iste molestias inventore dolores possimus adipisci eius quaerat tempora ratione, debitis facere dolor culpa voluptatem consequatur ipsa sit accusamus quam, in voluptas. Fuga dolorum delectus molestias nam perferendis aspernatur provident!
        </p>
    </div>
</section>

<section>
    <div id="inhalt">
        <h1>Unsere Partner</h1>
        <h2>Ich bin H2</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum quibusdam commodi qui dolorem dicta at consectetur veritatis provident quisquam vero voluptas totam molestias nulla ullam non, maiores labore minus corporis.
        Aspernatur, quis. Officia molestias natus, debitis expedita labore voluptatem optio. Pariatur delectus dignissimos autem adipisci veniam minima modi ducimus quod totam voluptatem aliquam alias odit doloribus aspernatur praesentium, repellendus consequuntur.
        Adipisci at perferendis eos hic aut unde itaque minus vitae esse? Distinctio et aspernatur perspiciatis, quidem error consequatur expedita. Repellendus consequuntur ut labore deleniti. Soluta aut rem ad repellat tempore!
        Dolorum molestias impedit, reiciendis molestiae eligendi dolores suscipit blanditiis ex ullam ea! Nihil, omnis enim laudantium explicabo unde minus sint perspiciatis voluptatum quis repellendus atque illum nostrum voluptates cumque provident.
        Iste molestias inventore dolores possimus adipisci eius quaerat tempora ratione, debitis facere dolor culpa voluptatem consequatur ipsa sit accusamus quam, in voluptas. Fuga dolorum delectus molestias nam perferendis aspernatur provident!
        </p>
    </div>
</section>

</main>

<footer>
    <nav id="footer">
        <ul>
            <li><a href="">Kontaktiere uns</a></li>
            <li><a href="">Impressum</a></li>
            <li><a href="">Datenschutz</a></li>
        </ul>
    </nav>
  </footer>

</body>
</html> -->
