<object data="https://documentcloud.adobe.com/link/track?uri=urn:aaid:scds:US:5e052b74-40ec-4306-a6a7-5c7cd7e341e7
" style="width:100%;height:700px">
    <a href="https://documentcloud.adobe.com/link/track?uri=urn:aaid:scds:US:5e052b74-40ec-4306-a6a7-5c7cd7e341e7
    ">PDF laden</a>
</object>


<a href="https://documentcloud.adobe.com/link/track?uri=urn:aaid:scds:US:5e052b74-40ec-4306-a6a7-5c7cd7e341e7
" target="_blank">DOWNLOAD</a>