<%- include("partials/head")%>

    <%- include("partials/nav")%>

        <div style="margin-top: 55px;"></div>

        <%- include("partials/jumbotron")%>


            <main>

                <section>
                    <div class="container my-5">
                        <div class="row py-4">
                            <div class="col-lg-4 mb-4 my-lg-auto">
                                <h2 class="text-dark font-weight-bold mb-3">Dashboard</h2>
                                <p class="mb-4">Hier findet ihr all unsere Inhalte zum dowloaden.</p>
                            </div>
                        </div>
                    </div>
                </section>

                <hr style="background-color: #a8a5cb; height: 5px;">


                <section id=" column1">

                    <div class="container my-5">
                        <div class="row py-4">

                            <div class="col-lg-4 mb-4 my-lg-auto">
                                <h2 class="text-dark font-weight-bold mb-3">1. Einführung</h2>
                                <p class="mb-4">In eurer ersten Lektion erhaltet ihr einen Überblick über das Thema
                                    Start
                                    Ups. Dabei könnt ihr testen, wie viel ihr vielleicht schon wisst und worüber Ihre
                                    euch
                                    in Zukunft freuen könnt. </p>
                                <a class="btn btn-outline-secondary me-md-2" type="button"
                                    href="https://documentcloud.adobe.com/link/track?uri=urn:aaid:scds:US:5e052b74-40ec-4306-a6a7-5c7cd7e341e7"
                                    style="background-color: #E9E0FE"><svg xmlns=" http://www.w3.org/2000/svg"
                                        width="16" height="16" fill="currentColor" class="bi bi-file-earmark-arrow-down"
                                        viewBox="0 0 16 16">
                                        <path
                                            d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293V6.5z" />
                                        <path
                                            d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z" />
                                    </svg> Download
                                    pdf
                                </a>

                            </div>

                </section>

                <hr style="background-color: #a8a5cb; height: 5px;">

                <section id=" column1">

                    <div class="container my-5">
                        <div class="row py-4">

                            <div class="col-lg-4 mb-4 my-lg-auto">
                                <h2 class="text-dark font-weight-bold mb-3">2. Ideengenerierung</h2>
                                <p class="mb-4">In dieser Lektion erfahrt ihr, was so eine richtig gute
                                    Geschäftsidee
                                    ausmacht und wie ihr selber eine finden könnt... </p>
                                <a class="btn btn-outline-secondary me-md-2" type="button"
                                    href="https://documentcloud.adobe.com/link/track?uri=urn:aaid:scds:US:5e052b74-40ec-4306-a6a7-5c7cd7e341e7"
                                    style="background-color: #E9E0FE"><svg xmlns=" http://www.w3.org/2000/svg"
                                        width="16" height="16" fill="currentColor" class="bi bi-file-earmark-arrow-down"
                                        viewBox="0 0 16 16">
                                        <path
                                            d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293V6.5z" />
                                        <path
                                            d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z" />
                                    </svg> Download
                                    pdf
                                </a>
                            </div>

                </section>

                <hr style="background-color: #a8a5cb; height: 5px;">

                <section id=" column1">

                    <div class="container my-5">
                        <div class="row py-4">

                            <div class="col-lg-4 mb-4 my-lg-auto">
                                <h2 class="text-dark font-weight-bold mb-3">3. Buisness Plan</h2>
                                <p class="mb-4">Nun geht's ans Eingemachte...Ihr habt euch für eine Idee
                                    entschieden?
                                    Super! Hier erfahrt ihr, wie ihr sie in die Tat umsetzten könnt.
                                </p>
                                <a class="btn btn-outline-secondary me-md-2" type="button"
                                    href="https://documentcloud.adobe.com/link/track?uri=urn:aaid:scds:US:5e052b74-40ec-4306-a6a7-5c7cd7e341e7"
                                    style="background-color: #E9E0FE"><svg xmlns=" http://www.w3.org/2000/svg"
                                        width="16" height="16" fill="currentColor" class="bi bi-file-earmark-arrow-down"
                                        viewBox="0 0 16 16">
                                        <path
                                            d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293V6.5z" />
                                        <path
                                            d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z" />
                                    </svg> Download
                                    pdf
                                </a>
                            </div>

                </section>

                <hr style="background-color: #a8a5cb; height: 5px;">


                <section id="column1">

                    <div class="container my-5">
                        <div class="row py-4">

                            <div class="col-lg-4 mb-4 my-lg-auto">
                                <h2 class="text-dark font-weight-bold mb-3">4.
                                    Gründungsfinanzierung
                                </h2>
                                <p class="mb-4">Ab jetzt wird's ernst! Ihr habt eine Idee, von
                                    der Ihr
                                    überzeugt seid,
                                    aber wie überzeugt Ihr jemand anderen davon? Wo findet Ihr
                                    jemanden,
                                    bei dem das
                                    Geld lockerer sitzt als bei Euch und der an Eure Vision
                                    glaubt? </p>
                                <a class="btn btn-outline-secondary me-md-2" type="button"
                                    href="https://documentcloud.adobe.com/link/track?uri=urn:aaid:scds:US:5e052b74-40ec-4306-a6a7-5c7cd7e341e7"
                                    style="background-color: #E9E0FE"><svg xmlns=" http://www.w3.org/2000/svg"
                                        width="16" height="16" fill="currentColor" class="bi bi-file-earmark-arrow-down"
                                        viewBox="0 0 16 16">
                                        <path
                                            d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293V6.5z" />
                                        <path
                                            d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z" />
                                    </svg> Download
                                    pdf
                                </a>
                            </div>

                </section>

                <hr style="background-color: #a8a5cb; height: 5px;">


                <section id="column1">

                    <div class="container my-5">
                        <div class="row py-4">

                            <div class="col-lg-4 mb-4 my-lg-auto">
                                <h2 class="text-dark font-weight-bold mb-3">5. Recht und
                                    Bürokratie</h2>
                                <p class="mb-4">Ein Unternehmen gründen zu wollen ist ja schon
                                    und gut,
                                    aber was dürft
                                    ihr rechtlich überhaupt? Welche Vorgaben müsst ihr bei einer
                                    Unternehmensgründung
                                    beachten? Das und noch einige wichtige Hinweise erfahrt ihr
                                    in
                                    dieser letzten
                                    Lektion!</p>
                                <a class="btn btn-outline-secondary me-md-2" type="button"
                                    href="https://documentcloud.adobe.com/link/track?uri=urn:aaid:scds:US:5e052b74-40ec-4306-a6a7-5c7cd7e341e7"
                                    style="background-color: #E9E0FE"><svg xmlns=" http://www.w3.org/2000/svg"
                                        width="16" height="16" fill="currentColor" class="bi bi-file-earmark-arrow-down"
                                        viewBox="0 0 16 16">
                                        <path
                                            d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293V6.5z" />
                                        <path
                                            d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z" />
                                    </svg> Download
                                    pdf
                                </a>
                            </div>

                </section>













            </main>


            <%- include("partials/footer")%>