<%- include("partials/head")%>

<%- include("partials/nav")%>

<div style="margin-top: 55px;"></div>

<%- include("partials/jumbotron")%>

<section id="column1">

  <div class="container my-5">
    <div class="row py-4">
                
        <div class="col-lg-7 mb-4 my-lg-auto">
          <h2 class="text-dark font-weight-bold mb-3">Lieber heute als morgen loslegen!
          </h2>
          <p class="mb-4">„Junge Visionäre“ bietet ein Online Kurs Programm an, wo Schülern von heute Inhalte über die Themen Gründung, Startup und Entrepreneurship nähergebracht werden. Begleitet wird dies durch ein Unternehmensspiel, bei dem Schüler in Teams gegeneinander antreten und bei dem die beste Idee und Umsetzung gewinnt.
          </p>
        </div>
              
        <div class="col-lg-5"><img src="/Bilder/code.jpg" alt="" class="w-100"></div>
              
    </div>
  </div>
  
  </section>

  <section id="column2">

    <div class="container my-5">
      <div class="row py-4">
                  
        <div class="col-lg-4"><img src="/Bilder/code.jpg" alt="" class="w-100"></div>

        <div class="col-lg-8 mb-4 my-lg-auto">
          <h2 class="text-dark font-weight-bold mb-3">Gemeinsam wachsen
          </h2>  
          <p class="mb-4">Unser Programm macht nicht nur unheimlich viel Spaß, sondern bietet den Schüler fungiertes Wissen über die Themen, welche ihnen im Berufsalltag begegnen werden. Da die Schüler in Teams arbeiten, können Sie zudem ihre Teamfähigkeit stärken und zusammen ihrer Kreativität freien Lauf lassen.
          </p>
        </div>
                
      </div>
    </div>
    
    </section>

    <section id="column3">

      <div class="container my-5">
        <div class="row py-4">
                    
            <div class="col-lg-8 mb-4 my-lg-auto">
              <h2 class="text-dark font-weight-bold mb-3">Zukunft gestalten
              </h2>
              <p class="mb-4">Ein weiterer Vorteil ist, dass das Programm der „Jungen Visionäre“ Ihren Schülern die Chance gibt, sich bereits in der Schule unternehmerisch auszuprobieren. „Junge Visionäre“ bietet ihren Schülern einen Raum für Inspiration und die Möglichkeit selber nach der Schule vielleicht in die Brache zu gehen und zu einem/einer jungen VisionärIn werden. 
              </p>
            </div>
                  
            <div class="col-lg-4"><img src="/Bilder/code.jpg" alt="" class="w-100"></div>
                  
        </div>
      </div>
      
      </section>


<%- include("partials/footer")%>