<%- include("partials/head")%>

<%- include("partials/nav")%>

<div style="margin-top: 55px;"></div>

<%- include("partials/jumbotron")%>

<section id="column1">

  <div class="container my-5">
    <div class="row py-4">
                
        <div class="col-lg-7 mb-4 my-lg-auto">
          <h2 class="text-dark font-weight-bold mb-3">Lieber heute als morgen loslegen!
          </h2>
          <p class="mb-4">Wir bieten ein Online Kurs Programm an, wo wir Schülern wie dir zeigen, wie man eigentlich ein Unternehmen gründet. Zusammen mit deinen Mitschülern simuliert ihr eine Gründung eines echten Unternehmens und tretet als Team gegen andere Teams von Düsseldorfer Schulen gegeneinander an. Wer am Ende die beste Idee und die erfolgreichste Umsetzung hat gewinnt!
          </p>
        </div>
              
        <div class="col-lg-5"><img src="/Bilder/code.jpg" alt="" class="w-100"></div>
              
    </div>
  </div>
  
  </section>

  <section id="column2">

    <div class="container my-5">
      <div class="row py-4">
                  
        <div class="col-lg-5"><img src="/Bilder/code.jpg" alt="" class="w-100"></div>

        <div class="col-lg-7 mb-4 my-lg-auto">
            <h2 class="text-dark font-weight-bold mb-3">Gemeinsam wachsen
            </h2>
            <p class="mb-4">Unser Programm bietet dir an, mal auf eine andere Weise Wissen zu erlernen, statt wie gewohnt in Klassenraum dem Lehrer zuzuhören. 
              Durch einen spannenden Wechsel von Missionen und abwechslungsreichem Content, können du und deine Mitschüler euer neuerlerntes Wissen direkt in die Tat umsetzen und zusammen an eurem ersten eigenen Unternehmen tüfteln.              
            </p>
        </div>
                
      </div>
    </div>
    
    </section>

    <section id="column3">

      <div class="container my-5">
        <div class="row py-4">
                    
            <div class="col-lg-7 mb-4 my-lg-auto">
              <h2 class="text-dark font-weight-bold mb-3">Zukunft gestalten
              </h2>
              <p class="mb-4">Durch unser Programm bekommst du auch schon erste Einblicke in die Berufswelt und kannst so schon in der Schule wertvolle Erfahrung für deine Zukunft sammeln. Einer der wohl größten Vorteile ist, dass du durch das Online Kurs Programm viele neue Leute von anderen Schulen kennenlernst und dir bereits in der Schule ein breites Netzwerk in Düsseldorf aufbauen kannst.                
              </p>
            </div>
                  
            <div class="col-lg-5"><img src="/Bilder/code.jpg" alt="" class="w-100"></div>
                  
        </div>
      </div>
      
      </section>


<%- include("partials/footer")%>