<%- include("partials/head")%>

<%- include("partials/nav")%>


<%- include("partials/jumbotron")%>

<section id="column1">

  <div class="container my-5">
    <div class="row py-4">
                
        <div class="col-lg-8 mb-4 my-lg-auto">
          <h2 class="text-dark font-weight-bold mb-3">Das Projekt
          </h2>
          <p class="mb-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est veritatis tempore, quos pariatur beatae recusandae non sed dolore eos dolores dolorem architecto quidem sequi aliquid voluptatum neque laudantium officia nam?
          </p>
        </div>
              
        <div class="col-lg-4"><img src="/Bilder/code.jpg" alt="" class="w-100"></div>
              
    </div>
  </div>
  
  </section>

  <section id="column2">

    <div class="container my-5">
      <div class="row py-4">
                  
        <div class="col-lg-4"><img src="/Bilder/code.jpg" alt="" class="w-100"></div>

        <div class="col-lg-8 mb-4 my-lg-auto">
            <h2 class="text-dark font-weight-bold mb-3">Das Projekt
            </h2>
            <p class="mb-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est veritatis tempore, quos pariatur beatae recusandae non sed dolore eos dolores dolorem architecto quidem sequi aliquid voluptatum neque laudantium officia nam?
            </p>
        </div>
                
      </div>
    </div>
    
    </section>

    <section id="column3">

      <div class="container my-5">
        <div class="row py-4">
                    
            <div class="col-lg-8 mb-4 my-lg-auto">
              <h2 class="text-dark font-weight-bold mb-3">Das Projekt
              </h2>
              <p class="mb-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est veritatis tempore, quos pariatur beatae recusandae non sed dolore eos dolores dolorem architecto quidem sequi aliquid voluptatum neque laudantium officia nam?
              </p>
            </div>
                  
            <div class="col-lg-4"><img src="/Bilder/code.jpg" alt="" class="w-100"></div>
                  
        </div>
      </div>
      
      </section>


<%- include("partials/footer")%>