<%- include("partials/head")%>

<%- include("partials/nav")%>

<div style="margin-top: 55px;"></div>

<%- include("partials/jumbotron")%>

<section id=ueber>

<div class="container my-5">
    <div class="mb-4 my-lg-auto">
        
        <h2>Warum „Junge Visionäre“?</h2>
            <p>Wir als Team haben die Problematik der Flut an Informationen über die Themen Startup und Entrepreneurship im Netz gesehen und zusammen eine Lösung dafür entwickelt. Bei unserer Recherche ist uns aufgefallen, dass die im Netz stehenden Informationen oft nicht auf die Schüler angepasst sind und somit die Motivation schnell sinken kann. 
                Durch unser Projekt wollen wir die Schüler motivieren und Ihnen spielerisch ein fungiertes Wissen vermitteln.
            </p>
            <p>Mit Hilfe von unseren Online Kurs Programm, wertvollausgewählten Inhalten, gutdurchdachten Aufgaben und unserem motivierenden Planspiel, wollen wir diesem Problem entgegensteuern und Schülern die Möglichkeit geben, die neuen Gründer ihrer Generation zu werden.
            </p>
            <p>Wir das Team der „Jungen Visionäre“ möchte die Schüler von heute nicht im Regen stehen lassen und Ihnen bereits vor dem Eintritt ins Berufsleben dieses Wissen näherbringen.
            </p>
            
        <h2>Über uns</h2>
            <p> Wir sind ein junges Team aus drei Leuten, welches durch das Programm Techlabs Düsseldorf eine Online Plattform erstellt hat, um Schülern dabei zu helfen die neuen Gründer ihrer Generation zu werden.
            </p>
            <p>Zusammen bieten wir ein Online Kurs Programm an, wo wir Schülern von heute Inhalte über die Themen Gründung, Startup und Entrepreneurship näherbringen wollen. Begleitet wird dies durch ein Unternehmensspiel, bei dem Schüler in Teams gegeneinander antreten und bei dem die beste Idee und Umsetzung gewinnt. All dies findet online über unsere Website statt. Somit finden Sie hier alle Informationen, Lerninhalte, Updates und Veranstaltungen, die für Sie wichtig sind.
            </p>
            <p>Also worauf noch warten? Werde jetzt auch ein/eine junge VisionärIn!</p>
    </div>
</div>   

</section>



<%- include("partials/footer")%>