* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.navbar {
    background-color: white !important;
}

.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a {
    font-weight: 500;
}

.navbar-nav li a:hover {
    color: #a8a5cb !important;
}

navbar-toggler {
    
}

.jumbotron {
    padding-left: 0px;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
    color: white;
}







/* * {
    margin: 0;
    padding: 0;
} */


/* 
#kopfbereich {
    background:url(/bilder/startseite.jpg) no-repeat left top;
    height: 400px;
}

#kopfbereich h1 {
color: white;
text-align: left;
font-size: 4em;
padding: 1.5em 0 0 1em;
}

#inhalt {
    background-color: cornsilk;
}
#inhalt h1, h2, h3, p, ul {
    padding-bottom: 0.7em;
}

#footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    background-color: tan;
    width: 100%;
  }

#footer li {
    float: left;
  }

#footer li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#footer li a:hover {
    background-color: thistle; */