html, body {
    font: 100% Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

#kopfbereich {
    background:url(/bilder/startseite.jpg) no-repeat left top;
    height: 400px;
}

#kopfbereich h1 {
color: white;
text-align: left;
font-size: 4em;
padding: 1.5em 0 0 1em;
}

#inhalt {
    background-color: cornsilk;
}
#inhalt h1, h2, h3, p, ul {
    padding-bottom: 0.7em;
}

#footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    background-color: tan;
    width: 100%;
  }

#footer li {
    float: left;
  }

#footer li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#footer li a:hover {
    background-color: thistle;