<%- include("../partials/head")%>

<%- include("../partials/nav")%>

<div style="margin-top: 55px;"></div>

<%- include("../partials/jumbotron")%>

<div style="margin-bottom: 55px;"></div>

<div class="container">
        <div class="row">
        <div class="col-sm">

    <h2>Loggen Sie sich jetzt ein!</h2>
    <form action="/login" method="POST">
        <div>
            <p>
            <label for="username">Nutzername</label>
            <input type="text" name="username" id="username" placeholder="Nutzername">
        </p>
        </div>
        <div>
            <p>
            <label for="password">Passwort</label>
            <input type="password" name="password" id="password" placeholder="Passwort">
        </p>
        </div>
        <button type="button" class="btn btn-light">Light</button>
    </form>
        </div>
    </div>
</div>

<div style="margin-top: 55px;"></div>
    <%- include("../partials/footer")%>

