<%- include("../partials/head")%>

  <%- include("../partials/nav")%>

    <div style="margin-top: 55px;"></div>

    <%- include("../partials/jumbotron")%>

      <div style="margin-bottom: 55px;"></div>

      <div class="container">
        <div class="row">
          <div class="col-sm">
            <h2 class="text-dark font-weight-bold mb-3">Registriere dich jetzt!</h2>
            <div>
              <form action="/register" method="POST" class="row g-3">
                <div class="col-md-6">
                  <label for="username" class="form-label">Nutzername</label>
                  <input type="text" name="username" id="username" class="form-control" placeholder="Nutzername"
                    required>
                </div>
                <div class="col-md-6">
                  <label for="password" class="form-label">Passwort</label>
                  <input type="password" name="password" id="password" class="form-control" placeholder="Passwort"
                    required>
                </div>
                <div class="col-md-6">
                  <label for="firstname" class="form-label">Vorname</label>
                  <input type="text" name="firstname" id="firstname" class="form-control" placeholder="Vorname"
                    required>
                </div>
                <div class="col-md-6">
                  <label for="lastname" class="form-label">Nachname</label>
                  <input type="text" name="lastname" id="lastname" class="form-control" placeholder="Nachname" required>
                </div>
                <div class="col-12">
                  <label for="email" class="form-label">E-Mail</label>
                  <input type="text" name="email" id="email" class="form-control" placeholder="E-Mail" required>
                </div>
                <div class="col-12">
                  <label for="schoolname" class="form-label">Institution</label>
                  <input type="text" name="schoolname" id="schoolname" class="form-control"
                    placeholder="Name Ihrer Institution" required>
                </div>
                <div class="col-md-6">
                  <label for="numberofstudents" class="form-label">Teilnehmer</label>
                  <input type="number" name="numberofstudents" id="numberofstudents" class="form-control"
                    placeholder="Anzahl der Teilnehmer" required>
                </div>
                <div>
                  <button class="btn btn-primary" type="submit"
                    style="background-color: #a8a5cb; border-color: gray;">Absenden</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>


      <div style="margin-top: 55px;"></div>


      <%- include("../partials/footer")%>